<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true">

    <!-- Define variables -->
    <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/CatCommander/logs"/>

    <!-- Define targets -->
    <targets>
        <!-- Console target -->
        <target name="console"
                type="ColoredConsole"
                layout="${longdate},${processtime},[${threadid}],${level},${logger}:${callsite-linenumber},${message} ${exception:format=tostring}">
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
        </target>

        <!-- File target -->
        <target name="file"
                type="File"
                layout="${longdate},${processtime},[${threadid}],${level},${logger}:${callsite-linenumber},${message} ${exception:format=tostring}"
                fileName="${logDirectory}/catcommander.log"
                archiveFileName="${logDirectory}/catcommander.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="7"
                encoding="utf-8"/>
    </targets>

    <!-- Define rules -->
    <rules>
        <logger name="*" minlevel="Debug" writeTo="console"/>
        <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
</nlog>